$normal-color: #a8a878;
$fire-color: #f08030;
$fighting-color: #c03028;
$water-color: #6890f0;
$flying-color: #a890f0;
$grass-color: #78c850;
$poison-color: #a040a0;
$electric-color: #f8d030;
$ground-color: #e0c068;
$psychic-color: #f85888;
$rock-color: #b8a038;
$ice-color: #98d8d8;
$bug-color: #a8b820;
$dragon-color: #7038f8;
$ghost-color: #705898;
$dark-color: #705848;
$steel-color: #b8b8d0;
$fairy-color: #ee99ac;
$unkwown-color: #68a090;

$type-colors: (
  normal: $normal-color,
  fire: $fire-color,
  fighting: $fighting-color,
  water: $water-color,
  flying: $flying-color,
  grass: $grass-color,
  poison: $poison-color,
  electric: $electric-color,
  ground: $ground-color,
  psychic: $psychic-color,
  rock: $rock-color,
  ice: $ice-color,
  bug: $bug-color,
  dragon: $dragon-color,
  ghost: $ghost-color,
  dark: $dark-color,
  steel: $steel-color,
  fairy: $fairy-color,
  unkwown: $unkwown-color,
);
