@keyframes preloadAnimation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.preload {
  animation: preloadAnimation 0.6s infinite;
  width: 260px;
  height: 260px;
}
