<div class="row column-direction text-center justify-content-center">
  <h2 class="col-12 mb-3">¿Who's That Pokemon?</h2>
  <ng-container *ngIf="pokemon; else preload">
    <div class="col-10 col-sm-4">
      <img
        class="img-fluid rounded-circle border border-2 border-primary-subtle bg-info-subtle w-100"
        [src]="pokemon.sprites.front_default"
        alt="Random Pokemon thumbnail"
      />
    </div>
    <div class="col-12 mt-3">
      <button
        class="btn btn-info fs-4 fw-semibold rounded-pill text-black px-4"
        [routerLink]="['/pokemons', pokemon.id]"
      >
        ¡It's {{ pokemon.name | titlecase }}!
      </button>
    </div>
  </ng-container>
</div>

<ng-template #preload>
  <div
    class="col-10 col-sm-4 p-4 rounded-circle border border-2 border-primary-subtle bg-info-subtle"
  >
    <img
      class="preload img-fluid"
      [src]="preloadImgSrc"
      alt="Random Pokemon preload thumbnail"
    />
  </div>
  <div class="col-12 mt-3">
    <button class="btn btn-info fs-4 fw-semibold rounded-pill text-black px-4">
      ¡It's ...!
    </button>
  </div>
</ng-template>
