<header>
  <app-header class="position-sticky top-0"></app-header>
</header>
<main class="container mt-3">
  <h1>Host App</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae sunt
    officia optio ut ipsum commodi voluptatem dolore rerum? Commodi eaque aut
    corrupti cumque dolorum sit vero incidunt magnam voluptate blanditiis!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae sunt
    officia optio ut ipsum commodi voluptatem dolore rerum? Commodi eaque aut
    corrupti cumque dolorum sit vero incidunt magnam voluptate blanditiis!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae sunt
    officia optio ut ipsum commodi voluptatem dolore rerum? Commodi eaque aut
    corrupti cumque dolorum sit vero incidunt magnam voluptate blanditiis!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae sunt
    officia optio ut ipsum commodi voluptatem dolore rerum? Commodi eaque aut
    corrupti cumque dolorum sit vero incidunt magnam voluptate blanditiis!
  </p>
  <router-outlet></router-outlet>
</main>
<footer>
  <app-footer class="position-fixed bottom-0 w-100"></app-footer>
</footer>
